@model IEnumerable<MedShare.Models.InstituicaoMedicamento>
@{
    ViewData["Title"] = "Escassez Crítica";
}
<h2>Medicamentos com Escassez (menos de 11 caixas)</h2>
<p><a href="/Medicamentos/Index">Voltar</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr class="table-danger">
        <td>@item.Medicamento.Nome</td>
        <td>@item.QuantidadeCaixas</td>
    </tr>
}
    </tbody>
</table>
